<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading wow fadeInUp" data-wow-delay=".2s">About Me</h2>
                <hr class="light wow fadeInUp" data-wow-delay=".2s">
				<p><img class="avatar wow rollIn" data-wow-delay=".2s" src="/img/avatar.jpg"></p>
                <p class="text-faded wow fadeInUp" data-wow-delay=".2s">Hey there, I'm <font color="#FFFFFF"><strong>William</strong></font>.</p>
				<p class="text-faded wow fadeInUp" data-wow-delay=".2s">I'm a <font color="#FFFFFF"><strong>DevOps Engineer</strong></font> living in <font color="#FFFFFF"><strong>Vancouver, Canada</strong></font>. I've been obsessed with <font color="#FFFFFF"><strong>technology</strong></font> and <font color="#FFFFFF"><strong>automation</strong></font> for as long as I can remember. I'm always asking myself <font color="#FFFFFF"><strong>"How can I make this easier?"</strong></font>, and <font color="#FFFFFF"><strong>"How can I make this faster?"</strong></font>. I make it my mission to <font color="#FFFFFF"><strong>develop, execute, and automate elegant solutions</strong></font> to these problems in all areas of my life.</p>
				<p><a href="https://www.certmetrics.com/amazon/public/badge.aspx?i=9&t=c&d=2018-10-09&ci=AWS00634413" target="_blank"><img class="wow flipInY awsbadge" data-wow-delay=".2s" src="/img/ccp.png"></a></p>
                <div class="wow bounceInDown">
					<a href="#skills" class="btn btn-default btn-xl page-scroll wow pulse animated text-primary" data-wow-iteration="infinite">Check Out My Skills</a>
				</div>
            </div>
        </div>
    </div>
</section>