<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading wow fadeInUp" data-wow-delay=".2s">Let's Get In Touch!</h2>
                <hr class="primary wow fadeInUp" data-wow-delay=".2s">
                <p class="text-muted wow fadeInUp" data-wow-delay=".2s">I'm always happy to hear from others in the industry, and to share exciting stories, experiences, and opportunities. Please feel free to drop me a line, or check out some of my projects on GitLab!</p>
            </div>
		<div class="wow bounceInDown" data-wow-delay=".2s">
			<div class="col-lg-2 col-lg-offset-2 text-center wow pulse animated text-primary" data-wow-iteration="infinite" data-wow-delay=".2s">
				<a href="https://ca.linkedin.com/in/{{ site.linkedin_username }}">
					<i class="fab fa-linkedin fa-3x wow bounceIn" data-wow-delay=".1s"></i>
					<p>LinkedIn</p>
				</a>
			</div>
		</div>
		<div class="wow bounceInDown" data-wow-delay=".2s">
			<div class="col-lg-2 col-lg-offset-1 text-center wow pulse animated text-primary" data-wow-iteration="infinite" data-wow-delay=".2s">
				<a href="mailto:{{ site.email }}">
				<i class="fas fa-envelope fa-3x wow bounceIn" data-wow-delay=".1s"></i>
					<p>E-Mail</p>
				</a>
			</div>
		</div>
		<div class="wow bounceInDown" data-wow-delay=".2s">
			<div class="col-lg-2 col-lg-offset-1 text-center wow pulse animated text-primary" data-wow-iteration="infinite" data-wow-delay=".2s">
				<a href="https://gitlab.com/{{ site.gitlab_username }}">
				<i class="fab fa-gitlab fa-3x wow bounceIn" data-wow-delay=".1s"></i>
					<p>GitLab</p>
				</a>
			</div>
		</div>
		<div class="col-lg-8 col-lg-offset-2 text-center">
		<p></p>
			<div class="wow bounceInDown">
				<a href="#page-top" class="btn btn-primary btn-xl page-scroll wow pulse animated text-primary" data-wow-iteration="infinite">Back To Top</a>
			</div>
		</div>
    </div>
</section>