<header>
    <div class="header-content initial-state" id="header">
        <div class="header-content-inner">
            <h1 class="wow fadeInUp" data-wow-delay=".2s">William Puckering</h1>
            <hr class="wow fadeInUp" data-wow-delay=".2s">
            <p class="wow fadeInUp" data-wow-delay=".2s">Professional <strong><font color="#FFFFFF">DevOps Engineer</font></strong>. Hobbyist <strong><font color="#FFFFFF">.NET Developer</font></strong>. Home Automation <strong><font color="#FFFFFF">IoT Tinkerer</font></strong>.</p>
            <div class="wow bounceInDown">
				<a href="#about" class="btn btn-primary btn-xl page-scroll wow pulse animated text-primary initial-state" data-wow-iteration="infinite" id="aboutButton">More About Me</a>
			</div>
        </div>
    </div>
	<script>
		setTimeout(function(){
			document.getElementById('header').style.opacity = "1.0";
			document.getElementById('aboutButton').style.opacity = "1.0";
		}, 200);
	</script>
</header>