<section id="skills">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading wow fadeInUp" data-wow-delay=".2s">My Skills</h2>
                <hr class="primary wow fadeInUp" data-wow-delay=".2s">
				<p class="text-muted wow fadeInUp" data-wow-delay=".2s">These are some of my most valuable skills:</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box wow bounceIn" data-wow-delay=".1s">
                    <i class="fas fa-4x fa-code text-primary"></i>
                    <h3>Develop & Deliver Quality Code</h3>
                    <p class="text-muted">Utilize industry-leading languages such as .NET Standard, .NET Core, Java, PowerShell, T-SQL</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box wow bounceIn" data-wow-delay=".2s">
                    <i class="fas fa-4x fa-sitemap text-primary"></i>
                    <h3>Continuously Integrate & Continuously Deliver</h3>
                    <p class="text-muted">Execute agile approaches with best practices to enable higher quality products and faster delivery times.</p>
                </div>
            </div>
			<div class="col-lg-3 col-md-6 text-center">
                <div class="service-box wow bounceIn" data-wow-delay="0.6s">
                    <i class="fa fa-4x fa-dna text-primary"></i>
                    <h3>Architect & Provision Infrastructure</h3>
                    <p class="text-muted">Design and implement secure environments utilizing "infrastructure as code" in the cloud or on-premise.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box wow bounceIn" data-wow-delay=".4s">
                    <i class="fas fa-4x fa-bug text-primary"></i>
                    <h3>Support and Troubleshoot</h3>
                    <p class="text-muted">Identify and fix the root causes of system problems. A band-aid is never good enough.</p>
                </div>
            </div>
        </div>
		<div class="col-lg-8 col-lg-offset-2 text-center">
		<p></p>
			<div class="wow bounceInDown">
				<a href="#technologies" class="btn btn-primary btn-xl page-scroll wow pulse animated text-primary" data-wow-iteration="infinite">Technologies</a>
			</div>
		</div>
    </div>
</section>