<section class="bg-primary" id="technologies">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading wow fadeInUp" data-wow-delay=".2s">Technologies</h2>
                <hr class="light wow fadeInUp" data-wow-delay=".2s">
				<p class="text-faded wow fadeInUp" data-wow-delay=".2s">These are some of the technologies in my toolkit:</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center wow bounceIn" data-wow-delay=".2s">
                <div class="service-box">
                    <svg><use xlink:href="img/symbol-defs.svg#icon-aws"></use></svg>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center wow bounceIn" data-wow-delay=".2s">
                <div class="service-box">
                    <svg><use xlink:href="img/symbol-defs.svg#icon-docker"></use></svg>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center wow bounceIn" data-wow-delay=".2s">
                <div class="service-box">
                    <svg><use xlink:href="img/symbol-defs.svg#icon-kube"></use></svg>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center wow bounceIn" data-wow-delay=".2s">
                <div class="service-box">
					<svg><use xlink:href="img/symbol-defs.svg#icon-git"></use></svg>
                </div>
            </div>
			<div class="col-lg-4 col-md-6 text-center wow bounceIn" data-wow-delay=".2s">
                <div class="service-box">
					<svg><use xlink:href="img/symbol-defs.svg#icon-heroku"></use></svg>
                </div>
            </div>
			<div class="col-lg-4 col-md-6 text-center wow bounceIn" data-wow-delay=".2s">
                <div class="service-box">
					<svg><use xlink:href="img/symbol-defs.svg#icon-cf"></use></svg>
                </div>
            </div>
			<div class="col-lg-4 col-md-6 text-center wow bounceIn" data-wow-delay=".2s">
                <div class="service-box">
					<svg><use xlink:href="img/symbol-defs.svg#icon-octopus"></use></svg>
                </div>
            </div>
			<div class="col-lg-4 col-md-6 text-center wow bounceIn" data-wow-delay=".2s">
                <div class="service-box">
					<svg><use xlink:href="img/symbol-defs.svg#icon-vs"></use></svg>
                </div>
            </div>
			<div class="col-lg-4 col-md-6 text-center wow bounceIn" data-wow-delay=".2s">
                <div class="service-box">
					<svg><use xlink:href="img/symbol-defs.svg#icon-pd"></use></svg>
                </div>
            </div>
			<div class="col-lg-4 col-md-6 text-center wow bounceIn" data-wow-delay=".2s">
                <div class="service-box">
					<svg><use xlink:href="img/symbol-defs.svg#icon-st"></use></svg>
                </div>
            </div>
			<div class="col-lg-4 col-md-6 text-center wow bounceIn" data-wow-delay=".2s">
                <div class="service-box">
					<svg><use xlink:href="img/symbol-defs.svg#icon-confluence"></use></svg>
                </div>
            </div>
			<div class="col-lg-4 col-md-6 text-center wow bounceIn" data-wow-delay=".2s">
                <div class="service-box">
					<svg><use xlink:href="img/symbol-defs.svg#icon-jira"></use></svg>
                </div>
            </div>
        </div>
		<div class="col-lg-8 col-lg-offset-2 text-center">
		<p></p>
			<div class="wow bounceInDown">
				<a href="#contact" class="btn btn-default btn-xl page-scroll wow pulse animated text-primary" data-wow-iteration="infinite">Contact Me</a>
			</div>
		</div>
    </div>
</section>