<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  {% include header.html %}
  {% include aboutme.html %}
  {% include skills.html %}
  {% include technologies.html %}
  {% include contact.html %}
  {% include scripts.html %}
</body>

</html>